<div class="container">
  <div class="row">
    <div class="card-padding">
      <% @cocktails.each do |cocktail| %>
    <div class="col col-xs-12 col-sm-6 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-category"><%= cocktail.name %></div>
      <div class="card-description">
      </div>
      <img class="card-user" src="">
      <%= link_to '', cocktail_path(cocktail), class: 'card-link' %>
    </div>
    </div>
    <% end %>
    </div>
  </div>
</div>

