<div class="container">
  <div class="row">
    <div class="card-wrapper">
    <% @cocktails.each do |cocktail| %>
      <div class="col col-xs-12 col-sm-6 col-md-4">

      <div class="card-container">
        <div class="card">
            <div class="front">
                <%= cocktail.name %>
                <%= link_to 'go to cocktail', cocktail_path(cocktail) %>
            </div>
            <div class="back">
                <ul>
                  <% cocktail.doses.each do |dose| %>
                  <li><%= dose.ingredient.name %> - <%= dose.description %></li>
                <% end %>
                </ul>
            </div>
        </div>
        </div>


    </div>
    <% end %>
  </div>
  </div>
</div>

