.large-card {
  border: 0.5px solid #ddd;
  width: 100%;
  margin-top: -25vh;
  margin-bottom: 150px;
  box-shadow: 0px 19px 42px -10px rgba(0,0,0,0.75);
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .large-card-details {
    width: 100%;
    .details-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 150px;
      padding: 30px;
      h2 {
        font-size: 36px;
        font-weight: normal;
        margin: 10px 0;
      }
      h3 {
        font-size: 16px;
        font-style: italic;
        margin: 10px 0;
      }

      h5 {
        font-size: 16px;
        font-style: italic;
        margin: 10px 0;
      }

      p {
        margin-top: 10px;
        margin-bottom: 25px;
        font-style: italic;
      }
    }
  }
  .details-reviews {
    width: 75%;
    margin: 0 auto;

  .add-review {
    margin-top: 25px;

    h1 {
      font-size: 16px;
      padding: 25px;
      text-align: center;
    }

    input {
      border-style: none;
      outline: 0;
      margin-bottom: -15px;
    }

    .submit-button {
      margin-right: 0 !important;
    }
  }

  .panel-footer {
    display: flex;
    justify-content: space-between;

    .time {
      color: #999;
    }

    .panel-footer {
      height: 30px;
    }
  }
  }
}

.dose-info {
  border-bottom: 1px solid #ddd;
  margin: 25px 0;
}

.dose-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(225, 225, 225);
  box-shadow: 0px 0px -4px -10px rgba(0,0,0,0.5);
  position: relative;

  .exit-button {
    position: absolute;
    top: 25px;
    right: 25px;
    color: black;

    &:hover {
      text-decoration: none;
      color: rgba(0,0,0,0.75);
    }
  }
}

.dose-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.dose-card.add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background: whitesmoke;
    transition: background 0.25s ease-in;
  }
}

.dose-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #a0a0a0;
  height: 75px;
  width: 250px;
  margin: 10px;
  
  background: #fff;
  box-shadow: 0px 11px 10px -8px rgba(0,0,0,0.75);
  transition: box-shadow 0.25s ease-in;

  .name {
    width: 66%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .desc {
    width: 34%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0px 11px 30px -8px rgba(0,0,0,0.75);

  }

  h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 10px;
    padding: 0;
    margin: 0 !important;
  }

  .edit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: black;
    z-index: 2;
    transition: opacity 0.2s 0s ease;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

.dose-form {
  width: 50%;
  margin: 25px auto;
}

.invalid-feedback {
  color: red;
  font-size: 10px;
  position: absolute;
}

.button-box {
  width: 100%;
  display: flex;
}

.submit-button {
  background: black;
  color: white;
  margin: 0 25px !important;
}

.delete-button {
  margin: 0 25px !important;
  color: white;
  background: red;
  text-transform: lowercase;
}

@media (max-width: 400px) {
  .submit-button {
    font-size: 10px;
  }
}