.large-card {
  border: 0.5px solid #ddd;
  margin: 20px;
  width: 100%;
  margin-top: -25vh;
  margin-bottom: 150px;
  box-shadow: 0px 19px 42px -10px rgba(0,0,0,0.75);
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .large-card-details {
    width: 100%;
    .details-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 150px;
      padding: 30px;
      h2 {
        font-size: 36px;
        font-weight: normal;
        margin: 10px 0;
      }
      h3 {
        font-size: 16px;
        font-style: italic;
        margin: 10px 0;
      }

      h5 {
        font-size: 16px;
        font-style: italic;
        margin: 10px 0;
      }

      p {
        margin-top: 10px;
        margin-bottom: 25px;
        font-style: italic;
      }
    }
  }
  .details-reviews {
    width: 75%;
    margin: 0 auto;

  .add-review {
    margin-top: 25px;

    h1 {
      font-size: 16px;
      padding: 25px;
      text-align: center;
    }
  }

  .panel-footer {
    display: flex;
    justify-content: space-between;

    .time {
      color: #999;
    }

    .panel-footer {
      height: 30px;
    }
  }
  }
}

.dose-info {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #ddd;
  margin: 25px 0;
}

.dose-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(225, 225, 225);
  box-shadow: 0px 0px -4px -10px rgba(0,0,0,0.5);
  position: relative;

  .exit-button {
    position: absolute;
    top: 25px;
    right: 25px;
    color: black;

    &:hover {
      text-decoration: none;
      color: rgba(0,0,0,0.75);
    }
  }
}

.dose-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.dose-card.add {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-size: 16px;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.dose-card {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a0a0a0;
  height: 50px;
  min-width: 150px;
  margin: 10px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  }

  h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 10px;
    padding: 0;
    margin: 0 !important;
  }

  .edit-button {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    color: white;
    z-index: 2;
    transition: opacity 0.2s 0s ease;
  }

  &:hover {
    .edit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      visibility: visible;
    }
  }
}

.dose-form {
  width: 50%;
  margin: 0 auto;
}