<div class="footer">
  <div class="footer-content">Made by <a href="#">Stefan Wawrzyn</a> in 2018 for the <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a> Shanghai bootcamp.</div>
</div>