<% index ||= false %>
<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <% if index %>
    <h4 class="logo-text hide-logo">drinks³</h4>
    <% else %>
    <h4>drinks³</h4>
  <% end %>
  

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <%= link_to 'Home', root_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to 'Add Cocktail', new_cocktail_path, class: 'navbar-wagon-item navbar-wagon-link' %>

  </div>
</div>
