<% @reviews.each do |review| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= review.content %>
    </div>
    <div class="panel-footer">
      <div class="stars">
        <% review.rating.times do %>
          <span class='glyphicon glyphicon-star'></span>
        <% end %>
      </div>
      <div class="time">
        <%= review.created_at.strftime("%d/%m/%Y")  %>
      </div>
    </div>
</div>
<% end %>